<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div style="display: inline;" class="header">
        <div>
            <ul style="display: flex; margin-top: 35px; margin-left: 60px; justify-content: left; list-style:none">
                <li><img style="margin-top:10px; width:50px; height: 50px; margin-right: 30px;" src="https://cdn.dribbble.com/users/1573719/screenshots/16965629/media/836e46c8826ecefbcd1f71e678ed03de.png?compress=1&resize=400x300&vertical=center"></li>
                <a style="text-decoration: none;" href="/home"><li style="margin-right: 20px;" class="display-5 fw-bold text-body-emphasis lh-1 mb-3" >Home</li></a>
                <a style="text-decoration: none;" href="/services"><li style="margin-right: 20px;" class="display-5 fw-bold text-body-emphasis lh-1 mb-3>">Services</li></a>
                <div class="btn-group">
                  <li class="display-5 fw-bold text-body-emphasis lh-1 mb-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    About
                  </li>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/about">Mission & Vision</a></li>
                    <li><a class="dropdown-item" href="/blog">Blog</a></li>
                  </ul>
                </div>
            </ul>

            <div style="display: flex; justify-content: right; list-style:none">
              
                <button type="submit" style="margin-right: 20px;" class="btn btn-warning"><a style="color: black; text-decoration: none;" href="/register">Login</a></button>
            
                <button type="button" style="margin-right: 20px; " class="btn btn-outline-warning"><a style="color: black; text-decoration: none;" href="tel:+9667598287">Call Now</a></button>
            </div>

        </div>
    </div>
   
    <hr/>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://dccwebsiteimages.s3.ap-south-1.amazonaws.com/golden_retriever_dental_df007fbb35.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pet health</h1>
            <p class="lead">All you need to know about Golden Retrievers' dental health</p>
          </div>
        </div>
    </div>

    <div class="bg-dark text-secondary px-4 py-5 text-center">
        
          <div >
            <p class="text-white ">The teeth of the Golden Retriever played an important role in the days of bird hunting. In order to retrieve their prey without damaging it, they were required to have a "soft mouth". Even though they can chew softly, they still have a strong bite due to their large size, requiring attention to tooth damage as well as dental disease.


                The teeth of the Golden Retriever played an important role in the days of bird hunting. In order to retrieve their prey without damaging it, they were required to have a "soft mouth". Even though they can chew softly, they still have a strong bite due to their large size, requiring attention to tooth damage as well as dental disease.
                
                When and in what order do Golden Retriever's baby teeth fall out?
                When the puppies are in their mother's womb, the teeth of the Golden Retriever begin to grow.
                <br/>
                Stages of tooth development
                <br/>
                Bud stage ⇒ cap stage ⇒ bell stage ⇒ calcification stage These are the developmental stages of the teeth. This development begins when the puppy is in its mother's womb, and the first baby teeth emerge from the gums around 21 days (3 weeks) after birth. When Golden Retriever's baby teeth get replaced eventually, at around four months of age, permanent teeth begin to appear, and by around six to seven months of age, the replacement of baby teeth with permanent teeth is complete. During the period of tooth replacement, there is a temporary coexistence of baby teeth and permanent teeth, lasting a few days for incisors and molars, and a few weeks for canines. In the baby tooth stage, there is no distinction between front and back molars, they are simply called molars or premolars. When it is time for dog teeth to grow back, the permanent teeth normally grow inside the baby teeth, but the maxillary canine teeth grow in front of the baby teeth.
                <br/>
                How to brush Golden Retrievers' teeth, recommended tooth brushes
                Brushing your dog's teeth is the best way to keep them healthy. By gradually accustoming your dog to brushing his teeth, you can make it less stressful for both you and your dog.
                <br/>
                <u>Step 1</u> Touch your dog's mouth with your fingers and hands when giving him treats or stroking his body so that he gets used to being touched in the mouth area.
                <br/>
                <u>Step 2</u> When he gets used to that, try thing such as "Putting your finger in his mouth", "turn his lips", or "touch his gums"
                <br/>
                <u>Step 3</u> Next, wrap a piece of gauze moistened with lukewarm water around your finger and gently rub your teeth. Start with the incisors (front teeth). As you get used to it, gradually move to the back teeth.
                <br/>
                <u>Step 4</u> Once he gets used to the finger gauze, move on to the toothbrush. At first, let him smell the toothbrush, play with it, and praise him if he puts it in his mouth even for a moment.
                <br/>
                <u>Step 5</u> Try brushing their teeth with a toothbrush.
                <br/>
                What are the kind of oral diseases for Golden Retrievers to look out for?
                <u>Periodontal disease</u>
                <br/>
                 Periodontal disease in dogs affects not only the teeth, but also other diseases such as heart disease, liver disease, and kidney disease, as the bacteria circulate throughout the body in the bloodstream, affecting the overall health of the body. Furthermore, it has been reported that removing plaque and tartar once a year can reduce the risk of death by about 20%, and is thought to have an effect on life expectancy itself. In addition, the relationship between periodontal disease and obesity has been pointed out, that obesity can be a risk factor for periodontal disease in humans.
                <br/>
                <u>Fracture</u> When a dog's tooth is broken or chipped, it is called a fracture. The maxillary fourth premolar (the largest tooth) is especially prone to fracture, followed by the maxillary canine, mandibular first posterior molar and mandibular canine. If the pulp is exposed, it is best to treat it as soon as possible to prevent bacterial infection.
                <br/>
                <u>Attrition</u> The wear and tear of a dog's teeth is called attrition. Not only hard objects, but even soft objects like tennis balls can wear down a dog's teeth after prolonged chewing. If there is exposed pulp, endodontic treatment may be necessary.</p>
            
          </div>
        
      </div>
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="/packages" class="nav-link px-2 text-muted">Packages</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
      </footer>