<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <div style="display: inline;" class="header">
    <div>
        <ul style="display: flex; margin-top: 35px; margin-left: 60px; justify-content: left; list-style:none">
            <li><img style="margin-top:10px; width:50px; height: 50px; margin-right: 30px;" src="https://cdn.dribbble.com/users/1573719/screenshots/16965629/media/836e46c8826ecefbcd1f71e678ed03de.png?compress=1&resize=400x300&vertical=center"></li>
            <a style="text-decoration: none;" href="/home"><li style="margin-right: 20px;" class="display-5 fw-bold text-body-emphasis lh-1 mb-3" >Home</li></a>
            <a style="text-decoration: none;" href="/services"><li style="margin-right: 20px;" class="display-5 fw-bold text-body-emphasis lh-1 mb-3>">Services</li></a>
            <div class="btn-group">
              <li class="display-5 fw-bold text-body-emphasis lh-1 mb-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </li>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/about">Mission & Vision</a></li>
                <li><a class="dropdown-item" href="/blog">Blog</a></li>
              </ul>
            </div>
        </ul>

        <div style="display: flex; justify-content: right; list-style:none">
          
            <button type="submit" style="margin-right: 20px;" class="btn btn-warning"><a style="color: black; text-decoration: none;" href="/register">Login</a></button>
        
            <button type="button" style="margin-right: 20px; " class="btn btn-outline-warning"><a style="color: black; text-decoration: none;" href="tel:+9667598287">Call Now</a></button>
        </div>

    </div>
</div>
   
    <hr/>
    <div style="width: 100%;" class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
         
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pet Dentistry</h1>
            <h4>Your pet's overall health is highly dependent on their oral health. If you want to ensure that your pet's dental needs are taken care of, we provide state of the art facilities that help maintain your pet's oral health.</h4>
            <br/>
            <br/>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button style="width: 400px; height: 100px; font-size: x-large;" class="btn btn-success rounded-pill px-3" type="button">Book a consult</button>
            </div>
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://dccwebsiteimages.s3.ap-south-1.amazonaws.com/pet_dentistry_88cec378c5.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Pet Dentistry</h2>
            <br/>
            <h4>Veterinary Dentist for Your Pooch</h4>
            <br/>
            <br/>
            <p>If you're seeking advanced veterinary dental services, our hospital is best for your pet. Our veterinarians are providing state-of-the-art veterinary dental care facilities in New Delhi & Gurugram while keeping the safety and comfort of your pets at the forefront.

                We hold ourselves up to a higher standard with our services to our patients and our clients. Seeing a happy pet makes us happy, and keeping them healthy is our priority. At our hospital, we strive to deliver excellent dental care for your pets because they deserve the best.</p>
           <br/>
           <br/>
           <a style="color: black; text-decoration: none;" href="/appointment"> <button class="btn btn-outline-light" type="button">Book appointment</button></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
           <img style="margin-left: 5px;" src="https://dccwebsiteimages.s3.ap-south-1.amazonaws.com/pet_dentistry2_ebb487bae0.webp"/>
           <br/>
           <br/>
           <img style="margin-left: 5px;" src="https://dccwebsiteimages.s3.ap-south-1.amazonaws.com/pet_dentistry_88cec378c5.webp"/>
          </div>
        </div>
      </div>
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="/packages" class="nav-link px-2 text-muted">Packages</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
      </footer>

     
   

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>